@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.componant_form , .container_form{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6)
}
.right-form-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/formbanner5.jpg");
  background-size : cover;
  background-position:center;
}


/*side bar content  */
.sidebar {
  position: sticky;
  top: 0; /* ou une autre valeur si vous avez une marge en haut */
  height: 100vh; /* Important : pour que sticky fonctionne correctement */
  /* overflow-y: auto; Pour ajouter une barre de défilement interne au sidebar si son contenu est trop long */
}

/*Pour le composant principal*/
.componant-render{
    min-height: 100vh;
    overflow-y: auto;
    
}

.Profilcard{
  border: solid 1px #165b77;
 }

.header {
  border-bottom: 1px solid #eee;

}
.about{
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 30.99%, 1.00% 31.24%, 2.00% 31.46%, 3.00% 31.67%, 4.00% 31.87%, 5.00% 32.05%, 6.00% 32.20%, 7.00% 32.34%, 8.00% 32.47%, 9.00% 32.57%, 10.00% 32.65%, 11.00% 32.72%, 12.00% 32.77%, 13.00% 32.79%, 14.00% 32.80%, 15.00% 32.79%, 16.00% 32.76%, 17.00% 32.71%, 18.00% 32.64%, 19.00% 32.55%, 20.00% 32.44%, 21.00% 32.31%, 22.00% 32.17%, 23.00% 32.01%, 24.00% 31.83%, 25.00% 31.63%, 26.00% 31.41%, 27.00% 31.18%, 28.00% 30.94%, 29.00% 30.67%, 30.00% 30.39%, 31.00% 30.10%, 32.00% 29.79%, 33.00% 29.47%, 34.00% 29.14%, 35.00% 28.79%, 36.00% 28.43%, 37.00% 28.06%, 38.00% 27.68%, 39.00% 27.30%, 40.00% 26.90%, 41.00% 26.49%, 42.00% 26.08%, 43.00% 25.66%, 44.00% 25.24%, 45.00% 24.81%, 46.00% 24.38%, 47.00% 23.94%, 48.00% 23.50%, 49.00% 23.07%, 50.00% 22.63%, 51.00% 22.19%, 52.00% 21.75%, 53.00% 21.31%, 54.00% 20.88%, 55.00% 20.45%, 56.00% 20.02%, 57.00% 19.60%, 58.00% 19.19%, 59.00% 18.78%, 60.00% 18.38%, 61.00% 17.99%, 62.00% 17.61%, 63.00% 17.24%, 64.00% 16.88%, 65.00% 16.53%, 66.00% 16.20%, 67.00% 15.87%, 68.00% 15.56%, 69.00% 15.27%, 70.00% 14.98%, 71.00% 14.72%, 72.00% 14.47%, 73.00% 14.23%, 74.00% 14.01%, 75.00% 13.81%, 76.00% 13.63%, 77.00% 13.46%, 78.00% 13.31%, 79.00% 13.18%, 80.00% 13.07%, 81.00% 12.98%, 82.00% 12.91%, 83.00% 12.85%, 84.00% 12.82%, 85.00% 12.80%, 86.00% 12.80%, 87.00% 12.83%, 88.00% 12.87%, 89.00% 12.93%, 90.00% 13.01%, 91.00% 13.11%, 92.00% 13.23%, 93.00% 13.37%, 94.00% 13.52%, 95.00% 13.69%, 96.00% 13.88%, 97.00% 14.09%, 98.00% 14.32%, 99.00% 14.56%, 100.00% 14.81%);
}


